In [6]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("../data/hk_stocks.db")
c = conn.cursor()

In [35]:
query = """
CREATE TABLE test_tables
(
    key    INT    PRIMARY KEY    NOT NULL, -- Seperated by commas
    id     REAL   NOT NULL, 
    firm_name   CHAR(254)    NOT NULL DEFAULT "NO NAME" -- NOT NULL do not allows null values during insertion 
    -- DEFAULT VALUE SPECIFICIED
)
"""

c.execute(query)

In [32]:
query = """
PRAGMA table_info("test_tables")
"""

test = c.execute(query)
test.fetchall()

[(0, 'key', 'INT', 1, None, 1), (1, 'id', 'REAL', 1, None, 0)]

In [31]:
query = """
ALTER TABLE test_tables
DROP COLUMN firm_name;
"""

c.execute(query)

query = """
PRAGMA table_info('test_tables')  -- Get the table information
"""

c.execute(query).fetchall()

OperationalError: no such column: "firm_name"

In [34]:
query = """
DROP TABLE test_tables;
"""

c.execute(query)

In [36]:
query = """
INSERT INTO test_tables (key, 
                         id, 
                         firm_name)
VALUES (
    9999999999,   -- key
    101010101,    -- id
    'Apple'       -- firm_name
);
"""

c.execute(query)

In [37]:
query = """
SELECT *
FROM test_tables;
"""

c.execute(query).fetchall()

[(9999999999, 101010101.0, 'Apple')]

In [38]:
data = [(9999999997, 101010099.0, 'Google'), 
        (9999999996, 101010098.0, 'Meta'), 
        (9999999995, 101010097.0, 'Nvidia')]

query = """
INSERT INTO test_tables (key, 
                         id, 
                         firm_name)
VALUES (?, ?, ?);
"""

c.executemany(query, data)

In [39]:
query = """
SELECT *
FROM test_tables;
"""

c.execute(query).fetchall()

[(9999999999, 101010101.0, 'Apple'),
 (9999999997, 101010099.0, 'Google'),
 (9999999996, 101010098.0, 'Meta'),
 (9999999995, 101010097.0, 'Nvidia')]

In [41]:
query = """
INSERT INTO test_tables (key, 
                         id)
VALUES (
    9999999998,   -- key
    101010100     -- id
);
"""

c.execute(query)

In [42]:
query = """
SELECT *
FROM test_tables;
"""

c.execute(query).fetchall()

[(9999999999, 101010101.0, 'Apple'),
 (9999999997, 101010099.0, 'Google'),
 (9999999996, 101010098.0, 'Meta'),
 (9999999995, 101010097.0, 'Nvidia'),
 (9999999998, 101010100.0, 'NO NAME')]

In [43]:
query = """
UPDATE test_tables             -- The table to be updated
SET firm_name = "Microsoft"    -- The column names and their new values
WHERE key = 9999999998;        -- The filter condition that determines which rows should be updated
"""

c.execute(query)

In [44]:
query = """
SELECT *
FROM test_tables;
"""

c.execute(query).fetchall()

[(9999999999, 101010101.0, 'Apple'),
 (9999999997, 101010099.0, 'Google'),
 (9999999996, 101010098.0, 'Meta'),
 (9999999995, 101010097.0, 'Nvidia'),
 (9999999998, 101010100.0, 'Microsoft')]

In [48]:
query = """
DELETE FROM test_tables             
WHERE key = 9999999998 OR firm_name = "Apple";     
"""

c.execute(query)

In [49]:
query = """
SELECT *
FROM test_tables;
"""

c.execute(query).fetchall()

[(9999999997, 101010099.0, 'Google'),
 (9999999996, 101010098.0, 'Meta'),
 (9999999995, 101010097.0, 'Nvidia')]

In [51]:
#MAKE SURE YOU ALWAYS INCLUDE A WHERE CLAUSE FOR UPDATE or DELETE
conn.close()